body {
	box-sizing: border-box;
	color: #373737;
	background-color: #dcd0c0;
	width: 900px;
	margin: auto;
 	background-size: cover;
	font-family: 'Bree Serif', serif;
	/* font-family: 'Droid Sans', sans-serif; */
}

.card {
	background-color: #c0b283;
	box-shadow: 0px 0px 10px #777;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 15px;
}

#roundcard {
    position: relative;
    z-index: -100;
    top: -500px;
/*    left: 175px;*/
    height: 350px;
    width: 700px;
    margin: auto;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease;
    transition: opacity 0.6s ease;
}

.lead {
	padding-bottom: 10px;
}

.answers:hover {
    color: darkred;
}

#question {
    margin: 0px;
}

#categoryPara {
    margin-top: 0px;
}
#scoreboard p {
	display: inline-block;
	margin: auto;
	width: 23%;
    -webkit-transition: font 0.1s ease;
    transition: font 0.1s ease;
    line-height: 50px;
}
li {
	font-size: 18pt;
    cursor: pointer;
}

#reset {
	-ms-flex-line-pack: center;
	    align-content: center;
	margin: auto;
	border-radius: 3px;
}
#timerzone {
	font-size: 18pt;
	text-align: center;
}

#questionzone {
	padding-bottom: 20px;
    min-height: 250px;
}
#scoreboard {
	font-size: 16pt;
	text-align: center;
	height: 45px;
	padding-top: 9px;
}

button {
	display: inline-block;
	height: 35px;
	width: 40%;
	background-color: #f4f4f4;
	margin-bottom: 15px;
	font-size: 16pt;
}